@font-face {
  font-family: 'iconfont';  /* project id 2420982 */
  src: url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.eot');
  src: url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.woff') format('woff'),
  url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2420982_ehkdjrbj114.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dsshop-gouwuche1:before {
  content: "\e62c";
}

.dsshop-shanchu:before {
  content: "\e6e8";
}

.dsshop-shanchu1:before {
  content: "\e625";
}

.dsshop-daifahuo:before {
  content: "\e64a";
}

.dsshop-daishouhuofuben:before {
  content: "\e6b1";
}

.dsshop-daifukuan:before {
  content: "\e607";
}

.dsshop-icon-:before {
  content: "\e658";
}

.dsshop-daipingjia:before {
  content: "\e63d";
}

.dsshop-xia:before {
  content: "\e65e";
}

.dsshop-duanxinyanzhengma:before {
  content: "\e61b";
}

.dsshop-kuai:before {
  content: "\e637";
}

.dsshop-anquanzhuye:before {
  content: "\e64f";
}

.dsshop-shurukuang:before {
  content: "\e60c";
}

.dsshop-ziyuan:before {
  content: "\e63b";
}

.dsshop-mima:before {
  content: "\e619";
}

.dsshop-shengqian:before {
  content: "\e690";
}

.dsshop-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.dsshop-zhengpinbaozheng:before {
  content: "\e6f4";
}

.dsshop-baoyou:before {
  content: "\e63e";
}

.dsshop-youjiantou:before {
  content: "\e60f";
}

.dsshop-gouwuche:before {
  content: "\e649";
}

