@font-face {
  font-family: 'iconfont';  /* project id 2420982 */
  src: url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.eot');
  src: url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.woff') format('woff'),
  url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2420982_0ghue2fqtnk.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dsshop-kuai:before {
  content: "\e637";
}

.dsshop-anquanzhuye:before {
  content: "\e64f";
}

.dsshop-shurukuang:before {
  content: "\e60c";
}

.dsshop-ziyuan:before {
  content: "\e63b";
}

.dsshop-mima:before {
  content: "\e619";
}

.dsshop-shengqian:before {
  content: "\e690";
}

.dsshop-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.dsshop-zhengpinbaozheng:before {
  content: "\e6f4";
}

.dsshop-baoyou:before {
  content: "\e63e";
}

.dsshop-youjiantou:before {
  content: "\e60f";
}

.dsshop-gouwuche:before {
  content: "\e649";
}
