.pagination-operation{
  margin-bottom: 80px;
  display: flex;
}
.pagination-operation {
  .operation{
    margin-left:20px;
    margin-top: 30px;
    font-size: 12px;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
  }
}
.pagination-operation .pagination{
  float:left;
  padding: 0 0;
}
.button{
  margin-bottom: 10px;
}
.pagination-operation{
  display:flex;
  width: 100%;
  align-items:center;
  margin-bottom: 10px;
  .selected{
    flex: 1;
    position: relative;
    top: 15px;
    span{
      font-weight: bold;
    }
  }
  .all{
    position: relative;
    top: 15px;
  }
}
.dialog-footer{
  margin-top: 40px;
}