.card{
  margin: 30px auto 0;
  width: 600px;
  .title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top:20px;
  }
  .condition{
    .name{
      font-size: 16px;
      margin-bottom: 5px;
    }
    .explain{
      font-size: 12px;
    }
  }
  .notice{
    margin:20px 0 20px 0;
    text-align: center;
    .text-red{
      color: #fa524c;
    }
  }
  .button{
    text-align: center;
  }
}
.user-title{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
