.header{
  background-color: #ffffff;
}
.top-nav{
  display: flex;
  .logo{
    width: 60px;
    height: 60px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .nav{
    margin-left:50px;
    margin-top:20px;
    flex:1;
    display: flex;
    .menu{
      margin-top:10px;
      flex:1;
      .active{
        color: $font-color-main;
      }
      .li{
        padding: 0 10px 0 10px;
      }
      .li:hover{
        color: $font-color-main;
      }
    }
    .searchRuleForm{
      width: 400px;
    }
  }
}
.site-topbar{
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.topbar-nav{
  display: flex;
  .menu{
    flex:1;
    display: flex;
    .li{
      padding: 0 10px 0 10px;
      line-height: 40px;
      color: #b0b0b0;
      cursor: pointer;
      position: relative;
      .appcode{
        display: none;
        position: absolute;
        left: -30px;
        box-shadow: 0 1px 5px #aaa;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        color: #333;
        background-color: #ffffff;
        .padding{
          padding:10px;
        }
        p{
          padding-bottom: 10px;
        }
        img{
          width: 120px;
        }
      }
    }
    .li:hover{
      color: #ffffff;
      .appcode{
        display: block;
      }
    }
  }
  .login{
    justify-content: right;
    display: flex;
    .li{
      padding:0 10px 0 10px;
      line-height: 40px;
      color: #b0b0b0;
      cursor:pointer;
      a{
        color: #b0b0b0;
        .iconfont{
          font-size: 12px;
          margin-left:10px;
          position: relative;
          top:1px;
        }
      }
      a:hover{
        color: #ffffff;
      }
    }
    .user{
      a{
        display: flex;
        padding: 0 10px 0 10px;
        span{
          display: inline-block;
          width: 70px;
          text-align: center;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
    .user-menu-wrapper{
      background: #fff;
    }
    .user-menu{
      overflow: hidden;
      padding-bottom: 10px;
      .a{
        padding: 3px 30px;
        color: #757575;
        line-height: 2;
        cursor:pointer;
      }
      .a:hover{
        color: $font-color-main;
      }
    }
    .user-active{
      .user-name {
        background: #fff;
        color: #757575;
        width: 110px;
        text-align: center;
      }
      .user-name:hover{
        color: $font-color-main;
      }
    }
    .li:hover{
      color: #ffffff;
    }
    .cart{
      color: #b0b0b0;
      background: #424242;
      line-height: 40px;
      height: 40px;
      position: relative;
      .iconfont{
        margin-right: 5px;
      }
      .cart-navigation{
        cursor:pointer;
      }
      .cart-box{
        position: absolute;
        background-color: #ffffff;
        width: 300px;
        box-shadow: 0 2px 10px #999999;
        overflow: hidden;
        right: 0;
        .cart-list{
          padding:10px;
          .cart-li{
            font-size: 12px;
            display: flex;
            align-items: center;
            color: #424242;
            border-bottom: 1px solid #e0e0e0;
            position: relative;
            .image{
              margin-top:20px;
              width: 45px;
              margin-right: 10px;
              image{
                width: 100%;
              }
            }
            .title{
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              margin-right: 20px;
              width: 120px;
              color: #424242;
            }
            .title:hover{
              color: $font-color-main;
            }
            .price{
              width: 80px;
            }
            .close{
              flex-shrink: 0;
              width: 12px;
              color: #b0b0b0;
              cursor:pointer;
            }
            .close:hover{
              color: $font-color-main;
            }
            .invalid{
              position: absolute;
              left: 0;
              top: 0;
              background: rgba(0, 0, 0, 0.3);
              width: 100%;
              height: 100%;
              color: #ffffff;
              font-size: 16px;
              text-align: center;
              padding-top:20px;
            }
          }
          .cart-li:last-child{
            border-bottom:none;
          }
        }
        .msg-empty{
          padding: 20px 0 20px;
          color: #424242;
          text-align: center;
        }
        .cart-total{
          padding: 15px 20px;
          background: #fafafa;
          display: flex;
          .number{
            flex:1;
            font-size: 12px;
            color: #424242;
            .name{
              line-height: normal;
            }
            .price{
              line-height: normal;
              color: $font-color-main;
              span{
                font-size: 22px;
              }
            }
          }
          .operation{
            width: 126px;
          }
        }
      }
    }
    .cart:hover{
      color: $font-color-main;
    }
    .cart.on{
      background-color: $font-color-main;
      color: #ffffff;
      .cart-navigation{
        color: #ffffff;
      }
    }
  }
}
