.list{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .li{
    width: 20%;
    .card{
      position: relative;
      margin: 0 5px 5px 0;
      text-align: center;
      .icon{
        .dsshop{
          font-size: 100px;
          &.failure{
            filter: grayscale(100%);
          }
        }
      }
      .name{
        margin-top: 20px;
        font-size: 14px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}
