.breadcrumb{
  margin-top: 10px;
}
.tab-list{
  background: #ffffff;
  margin: 20px 0;
  display: flex;
  .tab-item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
    cursor:pointer;
    .time{
      font-weight: 700;
      font-size: 14px;
    }
    .right{
      font-size: 12px;
      margin-left: 10px;
      .state{
        border: 1px solid #dcdfe6;
        border-radius: 20px;
        padding:5px 15px;
        color: #606266;
        &:hover{
          color: #606266;
        }
      }
      .finish{
        display: flex;
        .name{
          margin-right: 10px;
        }
      }
    }
    &:hover{
      color: #fa524c;
    }
    &.active{
      background: #fa524c;
      color: #ffffff;
      .time{
        font-weight: 700;
        font-size: 20px;
      }
      .right{
        font-size: 14px;
      }
      &:hover{
        color: #ffffff;
      }
    }
  }
}
.no-data{
  text-align: center;
  padding:30px 0;
  .name{
    color: #909399;
    position: relative;
    top:-50px;
  }
}
.commodity-list-box{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-right: -10px;
  .commodity-item{
    width: 25%;
    .card{
      margin: 0 10px 10px 0;
      .image{
        width: 100%;
        height: 190px;
      }
      .name{
        font-size: 14px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        padding: 10px 0;
      }
      .abstract{
        color: #fa524c;
        font-size: 12px;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .info{
        display: flex;
        .left{
          flex: 1;
          font-size: 12px;
        }
        .right{
          display: flex;
          align-items:center;
        }
      }
      .price{
        display: flex;
        .symbol{
          font-size: 12px;
          color: $font-color-main;
          position: relative;
          bottom: -8px;
        }
        .value{
          color: $font-color-main;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .progress-box{
        display: flex;
        .progress{
          flex: 1;
          margin-left: 10px;
          margin-right: 10px;
          position: relative;
          top:5px;
        }
      }
    }
    .card:hover{
      transform: translate(0,-5px);
    }
  }
}
.operation{
  text-align: center;
  margin-bottom: 20px;
}
