.vue-qrcode{
  text-align: center;
}
.main-color{
  margin-left: 5px;
  margin-right: 5px;
  color: #fa524c;
}
.money-pay{
  margin: 40px 0 40px 0;
}
.mode-payment-box{
  margin-top: 30px;
  .title{
    font-size: 18px;
    margin-top:10px;
  }
  .min-title{
    font-size: 16px;
    color: #616161;
    margin-bottom: 20px;
  }
  .list{
    display: flex;
    margin-bottom: 20px;
    .li{
      border: 1px solid #e0e0e0;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      min-width: 174px;
      height: 60px;
      line-height: 60px;
      margin-left: 14px;
      padding-left:10px;
      padding-right: 10px;
    }
    .li:hover{
      border-color: #fa524c;
    }
    .li.on{
      border-color: #fa524c;
    }
  }
}
.pay-order{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .el-icon-circle-check{
    font-size: 80px;
    color: #83c44e;
    margin-left:30px;
    margin-right: 30px;
  }
  .order-info{
    position: relative;
    flex:1;
    color: #616161;
    margin-bottom: 5px;
    margin-right: 20px;
    line-height: 2;
    font-size: 14px;
    .title{
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
    }
    .warn{
      span{
        color: #fa524c;
        margin: 0 5px 0 5px;
      }
    }
    .fright{
      position: absolute;
      top:10px;
      right: 0;
      .show-detail{
        cursor:pointer;
        text-align: right;
        margin-right: 5px;
      }
      .show-detail:hover{
        color: #fa524c;
      }
      .total{
        display: flex;
        line-height: 30px;
        .price{
          position: relative;
          top:-5px;
          color: #fa524c;
          span{
            font-size: 24px;
          }
        }
      }
      .iconfont{
        position: relative;
        left: 5px;
        font-size: 12px;
      }
    }
    .order-details{
      li{
        display: flex;
        .label{
          width: 80px;
        }
        .content{
          .on{
            color: #fa524c;
          }
        }

      }
    }
  }
}
