.min-footer{
  background-color: #ffffff;
  .links{
    font-size: 14px;
    text-align: center;
    padding:20px 0 0 0;
    a:hover{
      color: $font-color-main;
    }
  }
  .copyright{
    text-align: center;
    padding:20px 0 20px 0;
    color: #999;
    font-size: 12px;
  }
}
