.advertising{
  margin-top: 20px;
}
.recommend{
  margin-top:40px;
  width: 1210px;
  position: relative;
  left: 5px;
  .title-box{
    display: flex;
    .min-title{
      font-size: 22px;
      color: #333;
      line-height: 58px;
      flex:1;
    }
    .more{
      font-size: 16px;
      line-height: 58px;
      color: #424242;
      width: 95px;
    }
    .more:hover{
      color: $font-color-main;
    }
  }
  .title{
    text-align: center;
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .li{
      cursor:pointer;
      width: 20%;
      .card{
        margin: 0 10px 10px 0;
        .image{
          width: 100%;
          height: 190px;
        }
        .name{
          font-size: 14px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .price{
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          .symbol{
            font-size: 12px;
            line-height: 40px;
            color: $font-color-main;
          }
          .value{
            color: $font-color-main;
            line-height: 35px;
          }
        }
      }
      .card:hover{
        transform: translate(0,-5px);
      }
    }
  }
}
.top{
  padding-bottom: 20px;
  .container{
    position: relative;
  }
}
.secondary-navigation2{
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 16px #888888;
  top:0;
  left: 200px;
  z-index: 10;
  width: 1000px;
  height: 460px;
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .li{
    font-size: 12px;
    line-height: 40px;
    display: flex;
    width: 25%;
    .name{
      margin-left:10px;
      margin-right: 10px;
      flex:1;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      line-height: 80px;
    }
  }
  .li:hover{
    color: $font-color-main;
  }
  .image{
    width: 80px;
    height: 80px;
  }
}
.secondary-navigation{
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  top:0;
  left: 200px;
  z-index: 10;
  width: 1000px;
  height: 460px;
  padding:20px;
  font-size: 14px;
  .list{
    line-height: 40px;
    display: flex;
    .dt{
      width: 100px;
      text-align: right;
      font-weight: bold;
      margin-right: 10px;
      .iconfont{
        margin-left:5px;
        font-size: 12px;
      }
    }
    .dt:hover{
      color: $font-color-main;
    }
    .dd{
      display: flex;
      flex:1;
      .li{
        padding: 0 10px 0 10px;
      }
      .li:hover{
        color: $font-color-main;
      }
    }
  }
}
.classify{
  display: flex;
  background-color: #ffffff;
  position: relative;
  .nave{
    z-index: 10;
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    color: #ffffff;
    padding-top:20px;
    height: 460px;
    background: rgba(105,101,101,.6);
    .nave-li{
      cursor:pointer;
      padding:10px;
      .iconfont{
        float:right;
        position: relative;
        top:3px;
      }
    }
    .nave-li:hover,.nave-li.on{
      color: #ffffff;
      background-color: $font-color-main;
    }
  }
  .banner{
    flex:1;
    .image{
      width: 100%;
      height: 100%;
    }
  }
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
