.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
node_modules/.cache

test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

admin/.idea
