.indent-list{
  .li{
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    .details{
      display: flex;
      font-size: 12px;
      .good{
        width: 600px;
        .good-li{
          display: flex;
          padding:10px;
          font-size: 12px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-right-style: solid;
          border-bottom-style: solid;
          border-right-color: #e5e5e5;
          border-bottom-color: #e5e5e5;
          a{
            font-size: 12px;
            margin-bottom: 5px;
          }
          .image{
            border: 1px solid #e5e5e5;
            margin-right: 10px;
          }
          .specification{
            color: #999999;
          }
        }
        .good-li:last-child{
          border-bottom: none;
        }
      }
      .total{
        display: flex;
        width: 150px;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        align-items:center;
        justify-content: center;
        .freight{
          color: #999999;
        }
      }
      .state{
        display: flex;
        width: 80px;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        align-items:center;
        justify-content: center;
        div{
          margin-bottom: 5px;
        }
        a:hover{
          color: $font-color-main;
        }
      }
      .operation{
        width: 120px;
        display: flex;
        text-align: center;
        align-items:center;
        justify-content: center;
        .button{
          margin-bottom: 5px;
        }
      }
    }
    .top{
      display: flex;
      padding: 10px;
      color: #666;
      font-size: 14px;
      background: #f5f5f5;
      .time{
        margin-right: 20px;
      }
      .odd{
        flex:1;
        span{
          color: #333333;
        }
      }
      .delete{
        cursor:pointer;
      }
      .delete:hover{
        color: $font-color-main;
      }
    }
  }
  .navigation{
    margin-bottom: 20px;
    display: flex;
    background: #f5f5f5;
    line-height: 45px;
    padding-left:20px;
    padding-right: 20px;
    font-size: 14px;
    color: #666;
    .good{
      width: 580px;
    }
    .total{
      width: 150px;
      text-align: center;
    }
    .state{
      width: 80px;
      text-align: center;
    }
    .operation{
      width: 120px;
      text-align: center;
    }
  }
}
.user-title{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
