.page{
	background: #FFC450;
}
page{
	background: #FFC450;
	.main{
		.top-box{
			background: #F7255D;
			color: #FFFFFF;
			margin-bottom: 100rpx;
			position: relative;
			&::after {
			  content: '';
			  width: 120%;
			  height: 100rpx;
			  position: absolute;
			  left: -10%;
			  bottom: -100rpx;
			  border-radius: 0 0 50% 50%;
			  background: #F7255D;
			}
			.bg{
				height: 420rpx;
				.name{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					font-size: 50rpx;
					padding: 0 60rpx;
				}
			}
		}
		.draw-box{
			position: relative;
			height: 880rpx;
			.decorate1{
				position: relative;
				left: 0;
				top:0;
				width: 200rpx;
				height: 180rpx;
			}
			.decorate2{
				position: absolute;
				right: 0;
				top:0;
				width: 200rpx;
				height: 180rpx;
			}
			.decorate3{
				position: absolute;
				right: 40rpx;
				bottom:0;
				width: 100rpx;
			}
			.decorate4{
				position: absolute;
				left: 0rpx;
				bottom:0;
				width: 200rpx;
			}
			.draw{
				position: absolute;
				top: 100rpx;
				left: 0;
				width: 100%;
				text-align: center;
			}
		}
	}
	.explain-box{
		background: rgba(255, 255, 255, 0.3);
		margin:0 30rpx;
		padding:30rpx;
		border-radius:10rpx;
		.time{
			color: #303133;
			font-size: 24rpx;
			font-weight: bold;
			margin-bottom: 20rpx;
		}
		.explain{
			white-space: pre-wrap;
			font-size: 24rpx;
			color: #606266;
			line-height: 50rpx;
		}
	}
	.padding{
		padding-bottom: 60rpx;
	}
}