.avatar-uploader-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-uploader{
  margin-bottom: 2px;
  .el-upload{
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
}
