.card{
  margin: 30px auto 0;
  width: 600px;
  .title{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .text-money-name{
    text-align: center;
    color: #999999;
  }
  .text-money-value{
    margin-top:10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .card-list{
    display: flex;
    padding-bottom: 5px;
    font-size: 14px;
    .card-list-title{
      width:80px;
      text-align: right;
      margin-right:10px;
      color: #999999;
    }
  }
  .introduce{
    font-size: 14px;
    margin-top:20px;
    color: #999999;
  }
  .link{
    text-align: center;
  }
}
