page {
  background-color: #FFFFFF;
  padding-bottom: 30upx;
}
.subject{
  padding: 40rpx;
}
.subject .title{
  font-size: 52upx;
  text-align: left;
  line-height: 1.4;
  font-weight: 400;
}
.subject .details{
  line-height: 60upx;
  letter-spacing: 2px;
  width: 100%;
}
