.banner-panel{
  width: 100%;
  height: 588px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  .link{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 588px;
    width: 800px;
  }
  .form{
    margin: 40px 0 40px 0;
    height: 508px;
    .login-method{
      text-align: center;
      font-size: 26px;
      padding:30px 0 30px 0;
      span{
        cursor:pointer;
      }
      .on, span:hover{
        color: $font-color-main;
      }
    }
    .button{
      width: 100%;
    }
    .other{
      margin-top:50px;
      text-align: center;
    }
    .other a{
      color: #999;
    }
    .other a:hover{
      color: $font-color-main;
    }
  }
}
